@use "../node_modules/bootstrap/dist/css/bootstrap.css";
@use "../node_modules/snackbar/dist/snackbar.css";

.hidden {
	display: none;
}

.snackbar {
	position: static;
	margin-top: 50px;
	width: 100%;
}
